*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
backup/
apk_extracted/
apk_decompiled/
Windows/
公平内存*.md
